@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --color-amarillo:#EAC926;
    --color-azul:#03264C;
    --color-celeste:#1259c3;
    --color-gris-oscuro: #666;
    --color-gris-claro: #ebebeb;
    --color-verde: #39b54a;
    --color-negro:#000;
    --color-blanco:#ffffff;
}

*{
    padding: 0;
    margin: 0; 
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
} 
li{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--color-negro);
    cursor:pointer;
}

/*version mobile*/
.home_header {
    background-color: var(--color-amarillo);
    font-family: "Roboto", sans-serif;
    align-self: flex-start;
    width: 100%;
    padding-bottom: 1%;
}

.home_header img {
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
}

.searchBar_header {
    padding-top: 2.5%;
    padding-left: 2.4%;
}
.searchBar_header #search{
    border-top: 1px solid var(--color-negro);
}

.fa-magnifying-glass {
    border: 1px solid var(--color-negro);
    background-color: var(--color-blanco);
    padding: 1%;
    margin-top: 0.5%;
}

.compra_cuotas_home p{
    text-align: center;
    font-size: 12px;
    margin-top: 3%;
    margin-bottom: 4%;
}


.home_nav ul{
    display: none;
}

.home_nav .login_bar{
    display: none;
}

.burger-menu .fa-bars{
    background-color: var(--color-celeste);
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 6%;
    border-radius: 15%;
    font-size: 20px;
    
}
.burger-menu{
    text-align: center;
}

.home_body{
    width: 100vw;
}
.home_main section{
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.fa-truck {
    display: block;
    color: var(--color-verde);
    padding: 2%;
    border:1px solid var(--color-verde);
    border-radius: 50%;
    position:relative;
    left: 80% ;
    width: 30px;
    height: 30px;
    margin-top: -28px;
    background-color: white;
}

.home_banner {
    width: 100vw;
    margin-bottom: -2%;
}
.home_ultimavisita h3{
    font-size: 24px;
    margin-left: 3%;
    color: var(--color-gris-oscuro);
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
}

.home_main section article div h5{
    display: inline;
    font-size: 18px;
    width: 70%;
}
.home_main section article div h4{
    display: none;
}

.home_main section article div p{
    font-size: 16px;
    display: inline;
    color: var(--color-verde);
    margin-left: 1%;
    width: 30%;
}
.home_main section article div{
    text-align: left;
    border-top: 1px solid var(--color-gris-claro);
    padding:15px;
}
.home_ofertas h3{
    font-size:24px;
    margin-left: 4%;
    color: var(--color-gris-oscuro);
    padding-bottom: 5%;
    text-align: left;
}

.home_main{
    background-color: var(--color-gris-claro);
    padding-bottom: 1%;
    padding-top: 1%;
}

.home_main section article img {
    width: 100%;
    height: 100%;
}

.home_main section article {
    background-color: white;
    margin-bottom: 10px;
}

footer{
    margin-top:4%;
    width: 100%;
    background-color: var(--color-blanco);
    padding-top: 5%;
}

footer article {
    text-align: center;
}
footer article h3{
    font-size: 16px;
    color: var(--color-gris-oscuro);
}
footer article p{
    font-size: 12px;
    font-weight: 500;
    color: var(--color-gris-oscuro);
    margin-bottom: 60px;
    margin-top: 5px;
}

footer article i{
    color: var(--color-celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

footer .copyright p {
    font-size: 12px;
    color: var(--color-gris-oscuro);
    margin-bottom: 60px;
    margin-left: 1%;
}

/* VERSION TABLET */
@media(min-width:361px){
    .home_header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .home_nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }
    .home_nav ul{
        
        margin: 0;
        padding: 0;
        font-size: 12px;
        margin-left: 2%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap:20px;
    }
    .home_nav ul li{
        display: flex;
        justify-content: space-between ;
    }
    .home_nav .login_bar{
        display: block;
        margin-top: 0%;
        margin-right: 2%;
        margin-bottom: 1%;
        display: flex;
        
    }
    .burger-menu{
        display: none;
    }
    .compra_cuotas_home{
        margin-top: 3%;
        width: 35%;
    }

    .home_header img {
        width: 30%;
        margin-top: 3%;
        margin-left: 2%;
    }
    .fa-magnifying-glass {
        padding: 0.2%;
    }
    .searchBar_header {
        padding-top: 1%;
        width: 26%;
    }
    .home_main section article div h4{
        display: block;
        padding-top:2%;
        color: var(--color-gris-oscuro);
    }
    .home_ultimavisita h3{
        width: 100%;
        margin: 0%;
        padding-bottom: 3%;
        margin-top: -4%;
    }
    .home_main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        padding-left: 0%;
        padding-right: 0%;
    }
    .home_main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        display: flex;
        flex-direction: column;
        
    }
    .fa-truck{
        padding: 1.8%;
    }
    
    .home_ofertas h3{
        margin-left: 1%;
        width: 100%;
    }
    .home_main section article div p{
        margin-left: 25%;
    }
    footer{
        margin-top:2%;
        padding-top: 2%;
    }
}

/* VERSION DESKTOP */
@media(min-width:769px){
    .searchBar_header {
        margin-right: 5%;
        width: 25%;
    }
    .compra_cuotas_home{
        margin-right: 8%;
        width: 25%;
    }
    .home_header img {
        width: 36%;
        margin-top: 3%;
        margin-left: 1%;
    }
    .home_ultimavisita h3{
        padding-top: 1%;
        margin-top: -2%;
    }
    .home_ofertas h3{
        padding-bottom: 4%;
    }
    
    .home_main section{
        padding-left: 0%;
        padding-right: 0%;
        gap: 0px;
    }
    .home_main section article{
        width: 20%;
        
    }
    .home_main section article div p{
        margin-left: 2%;
        font-size: 90%;
    }
    .home_main section article div h5{
        font-size:90%;
    }
    .home_main section article div h4{
        padding-top: 10%;
        font-size: 71%;
    }
    .fa-truck{
        padding: 3%;
    }
}